#signInsliderMessage{
    background:#64cc37;
    color:#19400e;

    min-width:30px !important;
    max-width: 130px !important;
    height: auto;
    text-align: center;
    font-weight: bold;
    border: none;
    font-size: 27px;
}

.ant-message-notice-content {
    /* background-color: #d50000; */
    float:right;
    /* min-width:30px !important;
    max-width: 130px !important; */
}

